import("methods")
import("FLCore")
export(
  "ats",
  "availableMFCLversions",
  "catchWfromcatchN",
  "check.mfcl.cfg",
  "checkMissingRealisations",
  "checkUnitDimnames",
  "condor_submit_set_iters",
  "flagSummary",
  "flagDiff",
  "getMFCLversion",
  "gradients",
  "hcr_constant",
  "hcr_hillary_step",
  "hcr_asymptotic",
  "hcr_asymptotic_constrained",
  "hcr_asymptotic_hillary_step",
  "hcr_threshold",
  "hcr_threshold_constrained",
  "hcr_constrained",
  "MFCLBase",
  "MFCLBiol",
  "MFCLEMControl",
  "MFCLEquilibrium",
  "MFCLFlags",
  "MFCLFrq",
  "MFCLFrq2",
  "MFCLFrqStats",
  "MFCLIni",
  "MFCLIniBits",
  "MFCLLenFreq",
  "MFCLLenFreq2",
  "MFCLLikelihood",
  "MFCLMSEControl",
  "MFCLPar",
  "MFCLParBits",
  "MFCLPseudo",
  "MFCLPseudoControl",
  "MFCLRec",
  "MFCLRegion",
  "MFCLRep",
  "MFCLSel",
  "MFCLTagRep",
  "MFCLTag",
  "MFCLTagProj",
  "MFCLprojControl",
  "MFCLCatch",
  "MFCLLenFit",
  "qts",
  "read.MFCLBiol",
  "read.MFCLCatch",
  "read.MFCLCatchSim",
  "read.MFCLCatchN",
  "read.MFCLEffortSim",
  #"read.MFCLEquilibrium",
  "read.MFCLFlags",
  "read.MFCLFrq",
  "read.MFCLFrqStats",
  "read.MFCLIni",
  "read.MFCLLenFreq",
  "read.MFCLLikelihood",
  "read.MFCLPar",
  "read.MFCLParBits",
  "read.MFCLPseudo",
  "read.MFCLPseudoAlt",
  "read.MFCLPseudoCatchEffort",
  "read.MFCLPseudoSizeComp",
  "read.MFCLRec",
  "read.MFCLRegion",
  "read.MFCLRep",
  "read.MFCLSel",
  "read.MFCLTag",
  "read.MFCLTagRep",
  "read.MFCLLenFit",
  "read.MFCLLenFit2",
  "read.MFCLProjectedNatAge",
  "read.MFCLProjectedSpawningBiomass",
  "read.MFCLSimulatedNatAge",
  "read.SBSBF0",
  "read.temporary_tag_report",
  "recPeriod",
  "setMFCLversion",
  "setSimYrs",
  "write.simNumAge",
  "write.simyears"
)
exportClasses(
  "MFCLBase",
  "MFCLBiol",
  "MFCLEMControl",
  "MFCLEquilibrium",
  "MFCLFlags",
  "MFCLFrq",
  "MFCLFrq2",
  "MFCLFrqStats",
  "MFCLIni",
  "MFCLIniBits",
  "MFCLLenFreq",
  "MFCLLenFreq2",
  "MFCLMSEControl",
  "MFCLPar",
  "MFCLParBits",
  "MFCLPseudo",
  "MFCLPseudoControl",
  "MFCLRec",
  "MFCLRegion",
  "MFCLRep",
  "MFCLSel",
  "MFCLTagRep",
  "MFCLTag",
  "MFCLTagProj",
  "MFCLprojControl",
  'MFCLCatch',
  'MFCLLenFit',
  'MFCLLikelihood'
)
exportMethods(
  "aal",
  "adultBiomass",
  "adultBiomass<-",
  "adultBiomass_nofish",
  "adultBiomass_nofish<-",
  "age_nage",
  "age_nage<-",
  "age_pars",
  "age_pars<-",
  "AggregateF",
  "AggregateF<-",
  "as.MFCLIni",
  "as.MFCLLenFreq",
  "as.MFCLFrq",
  "as.MFCLFrq2",
  "av_fish_mort_age",
  "av_fish_mort_age<-",
  "av_fish_mort_inst",
  "av_fish_mort_inst<-",
  "av_fish_mort_year",
  "av_fish_mort_year<-",
  "av_q_coffs",
  "av_q_coffs<-",
  "availability_coffs",
  "availability_coffs<-",
  "avyrs",
  "avyrs<-",
  "BMSY",
  "BMSY<-",
  "ABBMSY",
  "ABBMSY<-",
  "ABBMSY_ts",
  "ABBMSY_ts<-",
  "bh_steep_contrib",
  "bh_steep_contrib<-",
  "caeff",
  "caeff<-",
  "calc_diff_coffs_age_period",
  "catch_dev_coffs",
  "catch_dev_coffs<-",
  "catch_dev_coffs_flag",
  "catch_dev_coffs_flag<-",
  "catch_fish",
  "catch_fish<-",
  "catch_obs",
  "catch_obs<-",
  "catch_pred",
  "catch_pred<-",
  "catch_sd",
  "catch_sd<-",
  "catcheff",
  "catcheff<-",
  "cateffpen",
  "cateffpen<-",
  "common_len_bias_coffs",
  "common_len_bias_coffs<-",
  "common_len_bias_pars",
  "common_len_bias_pars<-",
  "control_flags",
  "control_flags<-",
  "controls",
  "controls<-",
  "cpue_obs",
  "cpue_obs<-",
  "cpue_pred",
  "cpue_pred<-",
  "data_flags",
  "data_flags<-",
  "diff_coffs",
  "diff_coffs<-",
  "diff_coffs_age",
  "diff_coffs_age<-",
  "diff_coffs_age_period",
  "diff_coffs_age_period<-",
  "diff_coffs_age_priors",
  "diff_coffs_age_priors<-",
  "diff_coffs_age_ssn",
  "diff_coffs_age_ssn<-",
  "diff_coffs_mat",
  "diff_coffs_mat<-",
  "diff_coffs_nl",
  "diff_coffs_nl<-",  
  "diff_coffs_nl_priors",
  "diff_coffs_nl_priors<-",
  "diff_coffs_priors",
  "diff_coffs_priors<-",
  "dimensions",
  "dimensions<-",
  "doitall",
  "doitall<-",
  "effort_creep",
  "effort_creep<-",
  "effort_creep_fish",
  "effort_creep_fish<-",
  "effort_dev_coffs",
  "effort_dev_coffs<-",
  "effort_dev_penalty",
  "effort_dev_penalty<-",
  "effort_sd",
  "effort_sd<-",
  "eq_biomass",
  "eq_biomass<-",
#  "eq_mult",
#  "eq_mult<-",
  "eq_yield",
  "eq_yield<-",
  "Eq_calcs",
  "Eq_calcs<-",
  "ess",
  "ess<-",
  "fish_params",
  "fish_params<-",
  "fishery_catch",
  "fishery_catch<-",
  "fishery_realizations",
  "fishery_realizations<-",
  "fishery_sel",
  "fishery_sel<-",
  "fishery_sel_age_comp",
  "fishery_sel_age_comp<-",
  "flags",
  "flags<-",
  "flagval",
  "flagval<-",
  "fm",
  "fm<-",
  "fm_aggregated",
  "fm_aggregated<-",
  "fm_level_devs",
  "fm_level_devs<-",
  "fm_level_regression_pars",
  "fm_level_regression_pars<-",
  "FMSY",
  "FMSY<-",
  "FFMSY_ts",
  "FFMSY_ts<-",
  "Fmult",
  "Fmult<-",
  "fprojyr",
  "fprojyr<-",
  "freq",
  "freq<-",
  "frq_age_len",
  "frq_age_len<-",
  "frq_version",
  "frq_version<-",
  "generate",
  "generic_diffusion",
  "generic_diffusion<-",
  "growth",
  "growth<-",
  "growth_curve_devs",
  "growth_curve_devs<-",
  "growth_devs_age",
  "growth_devs_age<-",
  "growth_devs_cohort",
  "growth_devs_cohort<-",
  "growth_var_pars",
  "growth_var_pars<-",
  "hcr",
  "hcr<-",
  "hcr_params",
  "hcr_params<-",
  "eval_hcr",
  "ini_q_coffs",
  "ini_q_coffs<-",
  "ini_version",
  "ini_version<-",
  "iter",
  "itn",
  "itn<-",
  "kludged_eq_coffs",
  "kludged_eq_coffs<-",
  "kludged_eq_level_coffs",
  "kludged_eq_level_coffs<-",
  "l_frq",
  "l_frq<-",
  "laa",
  "lagrangian",
  "lagrangian<-",
  "len_bias_pars",
  "len_bias_pars<-",
  "lenagefits",
  "lenagefits<-",
  "lenfits",
  "lenfits<-",
  "length_fish",
  "length_fish<-",
  "lf_range",
  "lf_range<-",
  "lnfrq",
  "lnfrq<-",
  "log_m",
  "log_m<-",
  "logistic_normal_params",
  "logistic_normal_params<-",
  "lw_params",
  "lw_params<-",
  "m",
  "m<-",
  "m_at_age",
  "m_at_age<-",
  "m_devs_age",
  "m_devs_age<-",
  "mat",
  "mat<-",
  "mat_at_length",
  "mat_at_length<-",
  "max_grad",
  "max_grad<-",
  "mean_laa",
  "mean_laa<-",
  "mean_waa",
  "mean_waa<-",
  "mfcl",
  "mn_len_pen",
  "mn_len_pen<-",
  "modifyRRini",
  "mohns_rho",
  "move_map",
  "move_map<-",
  "move_matrix",
  "move_matrix<-",
  "move_weeks",
  "move_weeks<-",
  "MSY",
  "MSY<-",
  "n_fisheries",
  "n_fisheries<-",
  "n_mean_constraints",
  "n_mean_constraints<-",
  "n_move_yr",
  "n_move_yr<-",
  "n_pars",
  "n_pars<-",
  "n_recs_yr",
  "n_recs_yr<-",
  "n_regions",
  "n_regions<-",
  "n_tag_groups",
  "n_tag_groups<-",
  "new_orth_coffs",
  "new_orth_coffs<-",
  "nsims",
  "nsims<-",
  "nyears",
  "nyears<-",
  "obj_fun",
  "obj_fun<-",
  "orth_coffs",
  "orth_coffs<-",
  "plot",
  "popN",
  "popN<-",
  "q0_miss",
  "q0_miss<-",
  "q_dev_coffs",
  "q_dev_coffs<-",
  "q_dev_pen_fish",
  "q_dev_pen_fish<-",
  "q_dev_pen_fish_grp",
  "q_dev_pen_fish_grp<-",
  "q_effdev",
  "q_effdev<-",
  "q_fishery",
  "q_fishery<-",
  "random_seeds",
  "random_seeds<-",
  "range",
  "range<-",
  "realisations",
  "eq_rec",
  "eq_rec<-",
  "rec",
  "rec_dist",
  "rec_dist<-",
  "rec_init_pop_diff",
  "rec_init_pop_diff<-",
  "rec_month",
  "rec_month<-",
  "eq_rec_obs",
  "eq_rec_obs<-",
  "rec_orthogonal",
  "rec_orthogonal<-",
  "rec_region",
  "rec_region<-",
  "rec_standard_dim",
  "rec_standard_dim<-",
  "rec_standard",
  "rec_standard<-",
  "rec_times",
  "rec_times<-",
  "recaptures",
  "recaptures<-",
  "recoveries",
  "recoveries<-",
  "recYears",
  "reduce",
  "region_fish",
  "region_fish<-",
  "region_flags",
  "region_flags<-",
  "region_pars",
  "region_pars<-",
  "region_rec_var",
  "region_rec_var<-",
  "region_size",
  "region_size<-",
  "rel_ini_pop",
  "rel_ini_pop<-",
  "rel_rec",
  "rel_rec<-",
  "release_groups",
  "release_groups<-",
  "release_groups_proj",
  "release_groups_proj<-",
  "release_lengths",
  "release_lengths<-",
  "releases",
  "releases<-",
  "releases_proj",
  "releases_proj<-",
  "rep_rate_dev_coffs",
  "rep_rate_dev_coffs<-",
  "rep_rate_proj",
  "rep_rate_proj<-",
  "richards",
  "richards<-",
  "SB",
  "SBF0",
  "SBSBF0",
  "SBrecent",
  "SBlatest",
  "SBF0recent",
  "SBSBF0recent",
  "SBSBF0latest",
  "scaler",
  "scaler<-",
  "sd_laa",
  "sd_laa<-",
  "sd_length_at_age",
  "sd_length_at_age<-",
  "sd_length_dep",
  "sd_length_dep<-",
  "season_flags",
  "season_flags<-",
  "season_growth_pars",
  "season_growth_pars<-",
  "season_q_pars",
  "season_q_pars<-",
  "sel",
  "sel<-",
  "sel_dev_coffs2",  
  "sel_dev_coffs2<-",  
  "sel_dev_coffs",
  "sel_dev_coffs<-",
  "sel_dev_corr",
  "sel_dev_corr<-",
  "spp_params",
  "spp_params<-",
  "SPR0",
  "srr",
  "srr<-",
  "ssb",
  "eq_ssb",
  "eq_ssb<-",
  "eq_ssb_obs",
  "eq_ssb_obs<-",
  "steepness",
  "steepness<-",
  "subset",
  "summary",
  "survey_index",
  "survey_index<-",
  "sv",
  "sv<-",
  "tag_controls",
  "tag_controls<-",
  "tag_fish_rep_flags",
  "tag_fish_rep_flags<-",
  "tag_fish_rep_grp",
  "tag_fish_rep_grp<-",
  "tag_fish_rep_pen",
  "tag_fish_rep_pen<-",
  "tag_fish_rep_rate",
  "tag_fish_rep_rate<-",
  "tag_fish_rep_target",
  "tag_fish_rep_target<-",
  "tag_lik",
  "tag_lik<-",
  "tag_rel_fish",
  "tag_rel_fish<-",
  "tag_shed_rate",
  "tag_shed_rate<-",
  "TBBMSY",
  "TBBMSY<-",
  "tot_pop",
  "tot_pop<-",
  "tot_pop_implicit",
  "tot_pop_implicit<-",
  "totalBiomass",
  "totalBiomass<-",
  "totalBiomass_nofish",
  "totalBiomass_nofish<-",
  "total_catch",
  "total_catch<-",
  "total_length_fish",
  "total_length_fish<-",
  "total_weight_fish",
  "total_weight_fish<-",
  "total_catch_fish",
  "total_catch_fish<-",
  "unused",
  "unused<-",
  "update",
  "version",
  "vulnBiomass",
  "vulnBiomass<-",
  "w_frq",
  "w_frq<-",
  "waa",
  "window",
  "write",
  "wtfrq",
  "wtfrq<-",
  "xdiff_coffs",
  "xdiff_coffs<-",
  "y1diff_coffs",
  "y1diff_coffs<-",
  "y2diff_coffs",
  "y2diff_coffs<-",
  "zdiff_coffs",
  "zdiff_coffs<-",
#  "ypr",
#  "ypr<-"
  "YPR"
#  "YPR<-"
)


